{% extends "paginas/modelo.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
<title>Cadastrar Aluno</title>
{% endblock %}

{% block conteudo %}
<div class="form-container cadastro">
    <form method="POST" action="">
        {% csrf_token %}

        <!-- Usa o crispy para formatar o form-->
        {{form|crispy}}

        <button type="submit">Cadastrar</button>
    </form>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>

<script>

    $(document).ready(function () {

        $('#id_cpf').mask('000.000.000-00');
        $('#id_data_nasc').mask('00/00/0000');
        $('#id_data_criacao').mask('00/00/0000');
        $('#id_rg').mask('00.000.000-0');
        $('#id_serie').mask('0º');
        $('#id_data').mask('00/00/0000');
        $('#id_periodo_inicio').mask('00/00/0000');
        $('#id_periodo_fim').mask('00/00/0000');
        var SPMaskBehavior = function (val) {
            return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
        },
            spOptions = {
                onKeyPress: function (val, e, field, options) {
                    field.mask(SPMaskBehavior.apply({}, arguments), options);
                }
            };

        $('#id_fone').mask(SPMaskBehavior, spOptions);

    });
</script>
{% endblock %}