{% extends "paginas/modelo.html" %}
{% load static %}

{% block titulo %}
<title>Menu de Cadastros</title>
{% endblock %}

{% block conteudo %}
<!-- Corpo principal -->
<main class="container-fluid my-5 flex-grow-1">
    <div class="row">
        <!-- Lateral esquerda: linha verde + logo + botões -->
        <div class="col-md-5 d-flex">
            <!-- Linha verde -->
            <div style="border-left: 5px solid green; height: auto;"></div>

            <!-- Conteúdo com afastamento -->
            <div class="conteudo-esquerda px-4">
                <img src="{% static 'img/marca-cnapne_horizontal-1.png' %}" alt="Logo CNAPNE" class="img-fluid mb-4"
                    style="max-height: 100px;">

                <div class="d-grid gap-3" style="max-width: 250px;">
                    <a href="{% url 'cadastrar-napne' %}" class="btn btn-success btn-lg rounded-pill w-100">Cadastrar NAPNE</a><br><br>
                    <a href="{% url 'cadastrar-servidor' %}" class="btn btn-success btn-lg rounded-pill w-100">Cadastrar Servidor</a><br><br>
                    <a href="{% url 'cadastrar-responsavel' %}" class="btn btn-success btn-lg rounded-pill w-100">Cadastrar Responsável</a><br><br>
                    <a href="{% url 'cadastrar-curso' %}" class="btn btn-success btn-lg rounded-pill w-100">Cadastrar Curso</a><br><br>
                    <a href="{% url 'cadastrar-disciplina' %}" class="btn btn-success btn-lg rounded-pill w-100">Cadastrar Disciplina</a><br><br>
                    <a href="{% url 'cadastrar-professor' %}" class="btn btn-success btn-lg rounded-pill w-100">Cadastrar Professor</a><br><br>
                    <a href="{% url 'cadastrar-aluno' %}" class="btn btn-success btn-lg rounded-pill w-100">Cadastrar Aluno</a><br><br>
                    <a href="{% url 'cadastrar-laudo' %}" class="btn btn-success btn-lg rounded-pill w-100">Cadastrar Laudo</a><br><br>
                    <a href="{% url 'cadastrar-indicativo' %}" class="btn btn-success btn-lg rounded-pill w-100">Cadastrar Indicativo</a><br><br>
                    <a href="{% url 'cadastrar-interacoes' %}" class="btn btn-success btn-lg rounded-pill w-100">Cadastrar Interação</a><br><br>
                    <a href="{% url 'cadastrar-intervencao' %}" class="btn btn-success btn-lg rounded-pill w-100">Cadastrar Intervenção</a><br><br>
                    <a href="{% url 'cadastrar-pte' %}" class="btn btn-success btn-lg rounded-pill w-100">Cadastrar PTE</a><br><br>
                    <a href="{% url 'cadastrar-relatorio-pte' %}" class="btn btn-success btn-lg rounded-pill w-100">Cadastrar Relatório PTE</a><br><br>
                    <!-- Botão voltar para índice -->
                    <a href="{% url 'index' %}" class="btn btn-outline-secondary btn-lg rounded-pill w-100 mt-4">
                        &larr; Voltar ao Início
                    </a>
                </div>
            </div>
        </div>

        <!-- Espaço para conteúdo dinâmico à direita -->
        <div class="col-md-7 d-flex align-items-center justify-content-center">
            <div class="text-center text-muted">
                <h3>Bem-vindo ao Menu de Cadastros</h3>
                <p>Escolha uma opção no menu ao lado para iniciar um cadastro.</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}
