{% extends "paginas/index.html" %}

{% load static %}

{% block conteudo %}
<h3>Sobre</h3>

<header>
    <h1>TCC - Sistema de Intenção de Compra</h1>
</header>

<section class="intro">
    <p>Bem-vindo à página do nosso TCC! Este projeto foi desenvolvido por <strong>Lucas Rodrigues</strong> e <strong>Guilherme Ambrozim</strong>, alunos do <strong>Instituto Federal do Paraná do Campus Paranavaí</strong>.</p>
    <p>O objetivo deste projeto é a criação de um sistema de intenção de compra, que visa facilitar e otimizar o processo de decisão de compra por parte dos consumidores, utilizando tecnologias modernas e práticas de desenvolvimento de software.</p>
</section>

<footer>
    <p>&copy; 2025 Lucas Rodrigues e Guilherme Ambrozim | Todos os direitos reservados</p>
</footer>


{% endblock  %}