{% extends "paginas/modelo.html" %}
{% load static %}

{% block titulo %}
<title>Início - Sistema NAPNE</title>
{% endblock %}

{% block conteudo %}
<div class="container text-center py-5">
    <h1 class="mb-4 text-success fw-bold welcome-title">Bem-vindo ao Sistema de Gestão do NAPNE - IFPR</h1>

    <p class="lead mb-5 welcome-text">
        Este sistema foi desenvolvido para auxiliar na gestão das atividades do NAPNE, promovendo inclusão e
        acessibilidade para todos os alunos.
    </p>

    <div class="d-grid gap-3 justify-content-center">
        <!-- Botão de Cadastrar Usuário - apenas para Coordenadora e Admin -->
        {% if can_register_users %}
            <a href="{% url 'registrar' %}" class="btn btn-outline-success btn-lg rounded-pill mx-auto" style="width: 300px;">
                Cadastrar Usuário
            </a><br><br>
        {% endif %}
        
        <!-- Botão de Gerenciar Usuários - apenas para Coordenadora e Admin -->
        {% if can_register_users %}
            <a href="{% url 'gerenciar-usuarios' %}" class="btn btn-outline-success btn-lg rounded-pill mx-auto" style="width: 300px;">
                Gerenciar Usuários
            </a><br><br>
        {% endif %}
        
        <!-- Menu de Cadastros - apenas para Coordenadora, Servidor e Admin -->
        {% if can_access_menu %}
            <a href="{% url 'menu' %}" class="btn btn-outline-success btn-lg rounded-pill mx-auto" style="width: 300px;">
                Menu de Cadastros
            </a><br><br>
        {% endif %}
        
        <!-- Menu de Listas - disponível para todos os usuários logados -->
        <a href="{% url 'menu-listas' %}" class="btn btn-outline-success btn-lg rounded-pill mx-auto"
            style="width: 300px;">
            Menu de Listas
        </a>

        <br><br>

        <a href="{% url 'sobre' %}" class="btn btn-outline-success btn-lg rounded-pill mx-auto" style="width: 300px;">
            Sobre o Sistema
        </a><br><br>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-success btn-lg rounded-pill mx-auto" style="width: 300px;">
                Sair
            </button>
        </form>
    </div>
</div>
{% endblock %}

